    </title>
    <meta content="Yuri Zinchenko" name="author">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
    <table style="text-align: left; width: 100%;" class="table_main" border="0" cellpadding="2" cellspacing="0">
        <tbody>
            <tr>
                <td style="vertical-align: top; height: 48px; width: 20%;" class="block_side">
                </td>
                <td style="vertical-align: top; width: 60%;" class="block_title">
                    <h1>